<%= form_with(model: author, local: true) do |form| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>
      <ul>
        <% author.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tbody>
      <tr class="field">
        <td><%= form.label :username %></td>
        <td><%= form.text_field :username %></td>
      </tr>
      <tr class="field">
        <td><%= form.label :email %></td>
        <td><%= form.text_field :email %></td>
      </tr>
      <tr class="field">
        <td><%= form.label :password %></td>
        <td><%= form.password_field :password %></td>
      </tr>
      <tr class="field">
        <td><%= form.label :password_confirmation %></td>
        <td><%= form.password_field :password_confirmation %></td>
      </tr>
    </tbody>
  </table>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
